
    <div class="row" class="cont" > 

<div *ngFor="let product of products" class="card product-container " >
    <img src="{{product.url}}" class="card-img-top product-image" alt="..." (click)="moreDetails(product.id)">
    <div class="card-body">
      <h3 class="card-title">{{product.name}}</h3>
      <p class="card-text">${{product.price}}</p>
      
      <select class='form-control select-input' id="quantity" #teams (change)="onSelected(teams.value,product)">
        <option *ngFor="let opt of options"
        [selected]="opt === ngSelect"
        [value]="opt">
            {{ opt }}
        </option>
        </select>
      <br>
      <button type="button" (click)="addToCart(product)" class="btn btn-primary">Add to card</button>

    </div>

    

   
  </div>
</div>